<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />
  <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport" />

  {% if page.title %}
    <title>{{page.title}} | {{site.title}}</title>
  {% else %}
    <title>{{site.title}}</title>
  {% endif %}
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/unsemantic/0/unsemantic-grid-responsive.css" />
</head>
