---
layout: default
---

{% if page.images %}
<ul class="slider grid-50">
  {% for image in page.images %}
  <li><img src="/img/{{image}}" alt="{{page.title}} - {{image}}"/></li>
  {% endfor %}
</ul>
{% endif %}
<div class="{% if page.images %}grid-50{% else %}grid-100{% endif %}">
  <h1>{{page.title}}</h1>
  <p>Product Information</p>
  {{content}}
  <p>Handcrafted by BeNaDa workshop. Please note that this product is handmade consequently, color and grain may vary slightly from picture. Oils are not included.</p>
</div>